{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true,
    "require": true
  }
}